[Desktop Entry]
Type=Application
Terminal=false
Name=PhamNexus
Icon=/home/seafaculty/phamnexus/img/icon.svg
StartupNotify=true
Path=/home/seafaculty/phamnexus/
Exec=python3 __main__.py
Categories=Application;Utility
