[Desktop Entry]
Type=Application
Terminal=false
Name=PhamNexus
Icon=/home/christian/PycharmProjects/phamnexus/img/icon.svg
StartupNotify=true
Path=/home/christian/PycharmProjects/phamnexus/
Exec=python3 __main__.py
Categories=Application;Utility;
